<div class="bg-secondary-50 py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:text-center">
      <h2 class="text-base font-semibold leading-7 text-secondary-700">Certifications</h2>
      <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Certified By</p>
    </div>
    <div class="mx-auto max-w-2xl lg:max-w-4xl sm:mt-20 lg:mt-24 mt-16">
      <div class="flex flex-wrap mx-auto justify-center mt-8 md:gap-12 gap-4">
        <img src="img/rvtaa_logo.jpeg" alt="RVTAA Logo" class="h-12 md:h-16"/>
        <img src="img/nrvta_logo.png" alt="NRVTA Logo" class="h-12 md:h-16"/>
      </div>
    </div>
  </div>
</div>