<footer class="bg-gray-800">
  <div class="mx-auto max-w-7xl p-6">
    <p class="text-center text-xs leading-5 text-white">&copy; 2023 Allegiance Mobile RV Repair, LLC. All rights reserved.</p>
  </div>
</footer>