<div class="bg-gray-700">
  <div class="mx-auto max-w-7xl px-6 lg:p-8">
    <div class="mx-auto grid max-w-lg grid-cols-4 items-center gap-x-8 gap-y-12 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 sm:gap-y-14 lg:mx-0 lg:max-w-none lg:grid-cols-5 ">

      {% for item in logoStack.items %}
        <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src="{{ item.url }}" alt="{{ item.alt }}" >
      {% endfor %}
    </div>

  </div>
</div>