<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Allegiance Mobile RV Repair Service">
    <title>{{ title }}</title>
    <link rel="icon" href="/img/allegiance_favicon.svg">
    <script src="/js/navigation.js"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <!-- Open Graph tags -->
    <meta property="og:title" content="Allegiance Mobile RV Repair Service">
    <meta property="og:description" content="Convenient Mobile RV Repair in the Willamette Valley – Wherever You Are, We Come to You! Call us at 971-322-8365 for service inqueries.">
    <meta property="og:image" content="https://grand-cocada-58df7b.netlify.app/img/allegiance_logo_full.jpeg">
    <meta property="og:url" content="https://grand-cocada-58df7b.netlify.app">
  </head>
  <body>
    <header class="shadow-lg border-b border-gray-200">
      {%include "components/navigation.njk" %}
    </header>
    <main>
      {% include "components/hero.njk" %}
      {% include "components/features.njk" %}
      {% include "components/about.njk" %}
      {% include "components/contact.njk" %}
      {# {% include "components/certified.njk" %} #}
      {% include "components/footer.njk" %}

      {# {% block content %}
        {{ content | safe }}
      {% endblock content %} #}
    </main>
  </body>
</html>