---
companyPhone: 971-322-8365
companyEmail: allegiancervservice@gmail.com
formAccessKey: 758379d8-84e4-4c31-b383-3b311e0a5d36
---
{% extends 'layouts/base.njk' %}

{% block content %}
  <div class="relative isolate overflow-hidden">
    {# <div style="background-image: url('{{'img/splash.webp'}}');" class="object-cover bg-bottom bg-no-repeat"> #}
    {# <div class="h-[600px]">Hello World</div> #}
    {# </div> #}
    <div class="absolute inset-0 -z-10">
      <img src={{'img/splash.webp'}} alt="RV Park" class="h-full w-full object-cover object-bottom"/>
      <div class="absolute inset-0 bg-black opacity-50"></div>
    </div>
  </div>
  <div class="bg-white px-6 py-24 sm:py-32 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">
      <h2 class="mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">About Us</h2>
      <p class="mt-6 text-lg leading-8 text-gray-600">Allegiance Mobile RV Services, LLC is a veteran-owned company based in Salem, OR. We have nationally certified and insured mobile RV repair technicians that were trained at the National RV Training Acadamy (NRVTA) in Athens, Texas. Our services include appliance and equipment repairs, roof inspections/repairs, system diagnostics and much more, to help keep your RV in it's best shape. With our mobile RV repairs, there's no waiting to get your RV into a shop and no delay in getting it back because we come to you! And to show our appreciation for those who have served, we offer a 10% discount to veterans. We want to help you care for your investment. We serve the Willamette Valley and beyond.Call us to schedule an appointment today!</p>
    </div>
  </div>
</div>
{% endblock content %}